.venue-skeleton {
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}

.venue-skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(224, 224, 224, 0) 0%,
    rgba(224, 224, 224, 0.8) 50%,
    rgba(224, 224, 224, 0) 100%
  );
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.venue-skeleton-image {
  width: 100%;
  height: 300px;
  background-color: #ccc;
}

.venue-skeleton-title {
  width: 80%;
  height: 24px;
  background-color: #ccc;
  margin: 16px 0;
  border-radius: 20px;
}

.venue-skeleton-price {
  width: 50%;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
}

.venue-skeleton-description {
  width: 90%;
  height: 16px;
  background-color: #ccc;
  border-radius: 20px;
}

.booking-skeleton {
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}

.booking-skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(224, 224, 224, 0) 0%,
    rgba(236, 236, 236, 0.8) 50%,
    rgba(224, 224, 224, 0) 100%
  );
  animation: loading 1.5s infinite;
}

.booking-skeleton-image {
  width: 200px;
  height: 200px;
  max-width: 55%;

  background-color: #ccc;
}

.booking-skeleton-title {
  width: 100%;
  height: 24px;
  background-color: #ccc;
  border-radius: 4px;
}

.booking-skeleton-date {
  width: 60%;
  height: 16px;
  background-color: #ccc;
  border-radius: 4px;
}
.booking-skeleton-from {
  width: 30%;
  height: 16px;
  background-color: #ccc;
  border-radius: 4px;
  margin-bottom: 4px;
}
.booking-skeleton-arrow {
  position: absolute;
  right: 2rem;
  transition: 0.3s ease-in-out;
  bottom: 1rem;
}
.booking-skeleton svg {
  fill: #bdbdbd;
}
.single-venue-skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100vw;
  max-width: 1280px;
}

.single-venue-skeleton-image {
  width: 100%;
  min-height: 75svh;
  background-color: #bebebe47;
  animation: loading 1.5s infinite;
}
.single-venue-skeleton-image-flicker {
  width: 100%;
  background-color: #e0e0e0;
}
.single-venue-skeleton-text-flicker {
  height: 20px;
  width: 100%;
  background-color: #bebebe47;
  border-radius: 4px;
  animation: loading 1.5s infinite;
}
.single-venue-skeleton-text-parent {
  background-color: #00000033;
}

@media (max-width: 768px) {
  .single-venue-skeleton-container {
    flex-direction: row;
  }
  .single-venue-skeleton-image {
    width: 100vw;
    height: 300px;
    min-height: 0svh;
  }
  .single-venue-skeleton-text-parent {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
  }
  .single-venue-skeleton-text-flicker {
    height: 20px;
    width: 100%;
    background-color: #bebebe47;
    border-radius: 4px;
    animation: loading 1.5s infinite;
  }
}
